/* место для вашего кода по первому проекту*/

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: 96px 49px 92px 51px;
}

.header_menu {
  align-self: center;
  justify-self: start;
  color: #000;
  font-size: 18px;
  line-height: normal;
}

.header__links-list {
  list-style: circle;
  display: flex;
  flex-direction: row;
  gap: 35px;
  word-spacing: -3px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__links-list-item .header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active .header__link {
  text-decoration: none;
}

.header__logo {
  margin-left: 20px;
  display: block;
  align-self: center;
  justify-self: center;
  max-width: 148px;
  max-height: 105px;
}

.header__logo-image {
  width: 93%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #000;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  align-self: center;
  justify-self: end;
  padding-left: 139px;
}

.header__link_active:last-child {
  text-decoration: none;
}
/* ---------------------------------------------------------------------------------------------------- */
.cover {
  margin: auto;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.6);
  z-index: -1;
  background-size: cover;
  background-position: center;
  inset: 0;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  padding: 165px 50px 0px 50px;
  margin-bottom: 129px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-top: 14px;
  align-self: center;
  margin-bottom: 3px;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: end;
  padding: 0 50px 48px 0;
}

.cover__description-text {
  grid-column-start: 2;
  grid-column-end: 3;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 17px;
  align-self: center;
  justify-self: center;
  padding-left: 85px;
}

.bet-button {
  min-width: 257px;
  min-height: 52px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background-color: rgba(0 0 0 / 0);
  border: 1px solid #fff;
  padding: 12px 20px 10px 20px;
}

/* -------------------------------------------------------------------------------------------------- */

.lots {
  margin: auto;
  padding: 0 50px 0 50px;
}

.lots__heading {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 180px 0 27px 40px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}

.lots__card-list-item {
  min-height: 450px;
  width: 430px;
  flex-grow: 1;
}

.card-link {
  min-height: 100%;
}

.card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 178px;
  width: fit-content;
}

.about {
  margin: auto;
  padding: 0 50px 0 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
}

.about__first__column {
  justify-self: center;
  align-self: center;
}

.about__second__column {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.about__logo {
  height: 240px;
  width: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  display: block;
  width: 148px;
  height: 114px;
}

.about__title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 103px;
  margin-bottom: 102px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 21px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: auto;
  padding: 180px 50px 90px 50px;
}

.footer__link_active:last-child {
  text-decoration: none;
}

.footer__menu {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item .footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 46px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  display: block;
  max-height: 49px;
}
